<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SROS ANYSec Lab - Automation Panel</title>
</head>
<body>
    <h1>SROS ANYSec Lab - Automation Panel</h1>

    <form action="/execute_python" method="get">
        <button type="submit">Execute Python Script</button>
    </form>

    <form action="/execute_shell" method="get">
        <button type="submit">Execute Shell Script</button>
    </form>

    <form action="/execute_gnmic/link_enable_top" method="get">
        <button type="submit">Enable Top Link</button>
    </form>

    <form action="/execute_gnmic/link_disable_top" method="get">
        <button type="submit">Disable Top Link</button>
    </form>
</body>
</html>