<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SROS ANYSec Lab - Automation Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <script src="../js/script.js"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="text-center">
                    <img src="static/clab.png" class="img-fluid" alt="clab">
                    <img src="static/nokia.png" class="img-fluid" alt="nokia">
                </div>
                <h2 class="text-center">ANYSec Lab Automation Panel</h2>
                <div class="card mb-3">
                    <div class="card-header">ICMP Start/Stop</div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="icmp-size">Size:</label>
                                <input type="number" class="form-control" id="icmp-size" min="0" max="8000" step="100"
                                    value="2000">
                            </div>
                            <div class="form-group">
                                <label for="icmp-interval">Interval:</label>
                                <input type="number" class="form-control" id="icmp-interval" min="0.01" max="1"
                                    step="0.01" value="0.01">
                            </div>
                        </form>
                        <button class="btn btn-primary mb-1 w-100">VLL</button>
                        <button class="btn btn-primary mb-1 w-100">VPLS</button>
                        <button class="btn btn-primary w-100">VPRN</button>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Link Shut/No shut</div>
                    <div class="card-body">
                        <button class="btn btn-primary mb-1 w-100">Top Link<br />( pe1--p3 )</button>
                        <button class="btn btn-primary w-100">Bottom Link<br />( pe1--p4 )</button>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">ANYSec Enable/Disable</div>
                    <div class="card-body">
                        <button class="btn btn-primary d-block mb-1 w-100">VLL</button>
                        <button class="btn btn-primary d-block mb-1 w-100">VPLS</button>
                        <button class="btn btn-primary d-block w-100">VPRN</button>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <iframe src="http://{{host}}:3000/d/kawVPD-Gk/anysec-telemetry?orgId=1&refresh=5s" width="100%"
                    height="100%"></iframe>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>