# TiMOS-C-23.10.R1 cpm/x86_64 Nokia 7750 SR Copyright (c) 2000-2023 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Thu Oct 26 20:12:19 UTC 2023 by builder in /builds/2310B/R1/panos/main/sros
# Configuration format version 23.10 revision 0

# Generated 2023-12-17T23:33:26.6+00:00 by admin from 172.31.255.29
# Last modified 2023-12-11T14:13:39.1+00:00 by admin (MD-CLI) from 172.31.255.29
# Last saved 2023-12-11T21:57:04.4+00:00 by admin from 172.31.255.29

/configure card 1 admin-state enable
/configure card 1 card-type iom-1
/configure card 1 mda 1 mda-type me12-100gb-qsfp28
/configure port 1/1/c1 admin-state enable
/configure port 1/1/c1 connector breakout c1-100g
/configure port 1/1/c1/1 admin-state enable
/configure port 1/1/c1/1 description "to_P4"
/configure port 1/1/c1/1 ethernet mode hybrid
/configure port 1/1/c1/1 ethernet encap-type dot1q
/configure port 1/1/c2 admin-state enable
/configure port 1/1/c2 connector breakout c1-100g
/configure port 1/1/c2/1 admin-state enable
/configure port 1/1/c2/1 description "to_PE1"
/configure port 1/1/c2/1 ethernet mode hybrid
/configure port 1/1/c2/1 ethernet encap-type dot1q
/configure port 1/1/c3 admin-state enable
/configure port 1/1/c3 connector breakout c1-100g
/configure port 1/1/c3/1 admin-state enable
/configure port 1/1/c3/1 description "to_PE2"
/configure port 1/1/c3/1 ethernet mode hybrid
/configure port 1/1/c3/1 ethernet encap-type dot1q
/configure router "Base" autonomous-system 65000
/configure router "Base" ecmp 2
/configure router "Base" router-id 10.0.0.3
/configure router "Base" interface "system" ipv4 primary address 10.0.0.3
/configure router "Base" interface "system" ipv4 primary prefix-length 32
/configure router "Base" interface "to_P4" description "to_P4"
/configure router "Base" interface "to_P4" port 1/1/c1/1:2
/configure router "Base" interface "to_P4" ipv4 primary address 10.3.4.3
/configure router "Base" interface "to_P4" ipv4 primary prefix-length 24
/configure router "Base" interface "to_PE1" description "to_PE1"
/configure router "Base" interface "to_PE1" port 1/1/c2/1:2
/configure router "Base" interface "to_PE1" ipv4 primary address 10.1.3.3
/configure router "Base" interface "to_PE1" ipv4 primary prefix-length 24
/configure router "Base" interface "to_PE2" description "to_PE2"
/configure router "Base" interface "to_PE2" port 1/1/c3/1:2
/configure router "Base" interface "to_PE2" ipv4 primary address 10.2.3.3
/configure router "Base" interface "to_PE2" ipv4 primary prefix-length 24
/configure router "Base" mpls-labels static-label-range 1968
/configure router "Base" mpls-labels sr-labels start 16000
/configure router "Base" mpls-labels sr-labels end 24000
/configure router "Base" mpls-labels reserved-label-block "Anysec" start-label 2000
/configure router "Base" mpls-labels reserved-label-block "Anysec" end-label 5999
/configure router "Base" bgp rapid-withdrawal true
/configure router "Base" bgp family ipv4 true
/configure router "Base" bgp family vpn-ipv4 true
/configure router "Base" bgp family ipv6 true
/configure router "Base" bgp family vpn-ipv6 true
/configure router "Base" bgp family l2-vpn true
/configure router "Base" bgp family route-target true
/configure router "Base" bgp family evpn true
/configure router "Base" bgp family label-ipv4 true
/configure router "Base" bgp family label-ipv6 true
/configure router "Base" bgp family sr-policy-ipv4 true
/configure router "Base" bgp family sr-policy-ipv6 true
/configure router "Base" bgp cluster cluster-id 10.0.0.3
/configure router "Base" bgp local-as as-number 65000
/configure router "Base" bgp rapid-update vpn-ipv4 true
/configure router "Base" bgp rapid-update vpn-ipv6 true
/configure router "Base" bgp rapid-update evpn true
/configure router "Base" bgp rapid-update label-ipv4 true
/configure router "Base" bgp rapid-update label-ipv6 true
/configure router "Base" bgp multipath max-paths 2
/configure router "Base" bgp group "ibgp" keepalive 5
/configure router "Base" bgp group "ibgp" min-route-advertisement 5
/configure router "Base" bgp group "ibgp" type internal
/configure router "Base" bgp group "ibgp" peer-as 65000
/configure router "Base" bgp group "ibgp" local-address 10.0.0.3
/configure router "Base" bgp group "ibgp" peer-ip-tracking true
/configure router "Base" bgp neighbor "10.0.0.1" description "PE1"
/configure router "Base" bgp neighbor "10.0.0.1" group "ibgp"
/configure router "Base" bgp neighbor "10.0.0.2" description "PE2"
/configure router "Base" bgp neighbor "10.0.0.2" group "ibgp"
/configure router "Base" bgp neighbor "10.0.0.4" description "P4"
/configure router "Base" bgp neighbor "10.0.0.4" group "ibgp"
/configure router "Base" isis 0 admin-state enable
/configure router "Base" isis 0 advertise-router-capability as
/configure router "Base" isis 0 iid-tlv true
/configure router "Base" isis 0 level-capability 2
/configure router "Base" isis 0 traffic-engineering true
/configure router "Base" isis 0 flexible-algorithms admin-state enable
/configure router "Base" isis 0 flexible-algorithms flex-algo 128 participate true
/configure router "Base" isis 0 flexible-algorithms flex-algo 128 loopfree-alternate 
/configure router "Base" isis 0 flexible-algorithms flex-algo 128 micro-loop-avoidance 
/configure router "Base" isis 0 traffic-engineering-options application-link-attributes legacy true
/configure router "Base" isis 0 segment-routing admin-state enable
/configure router "Base" isis 0 segment-routing prefix-sid-range global
/configure router "Base" isis 0 interface "system" admin-state enable
/configure router "Base" isis 0 interface "system" passive true
/configure router "Base" isis 0 interface "system" ipv4-node-sid index 1003
/configure router "Base" isis 0 interface "to_P4" admin-state enable
/configure router "Base" isis 0 interface "to_P4" interface-type point-to-point
/configure router "Base" isis 0 interface "to_P4" level 2 metric 10
/configure router "Base" isis 0 interface "to_PE1" admin-state enable
/configure router "Base" isis 0 interface "to_PE1" interface-type point-to-point
/configure router "Base" isis 0 interface "to_PE1" level 2 metric 10
/configure router "Base" isis 0 interface "to_PE2" admin-state enable
/configure router "Base" isis 0 interface "to_PE2" interface-type point-to-point
/configure router "Base" isis 0 interface "to_PE2" level 2 metric 10
/configure router "Base" isis 0 level 2 wide-metrics-only true
/configure router "Base" isis 1 admin-state enable
/configure router "Base" isis 1 advertise-router-capability area
/configure router "Base" isis 1 all-l1isis 01:00:01:49:00:01
/configure router "Base" isis 1 all-l2isis 01:00:01:49:00:01
/configure router "Base" isis 1 iid-tlv true
/configure router "Base" isis 1 level-capability 2
/configure router "Base" isis 1 traffic-engineering true
/configure router "Base" isis 1 area-address [49.0001]
/configure router "Base" isis 1 entropy-label override-tunnel-elc true
/configure router "Base" isis 1 traffic-engineering-options application-link-attributes legacy true
/configure router "Base" isis 1 segment-routing admin-state enable
/configure router "Base" isis 1 segment-routing prefix-sid-range global
/configure router "Base" isis 1 interface "system" admin-state enable
/configure router "Base" isis 1 interface "system" passive true
/configure router "Base" isis 1 interface "system" level-capability 2
/configure router "Base" isis 1 interface "system" ipv4-node-sid index 1103
/configure router "Base" isis 1 interface "to_P4" admin-state enable
/configure router "Base" isis 1 interface "to_P4" interface-type point-to-point
/configure router "Base" isis 1 interface "to_P4" level-capability 2
/configure router "Base" isis 1 interface "to_P4" level 2 metric 100
/configure router "Base" isis 1 interface "to_PE1" admin-state enable
/configure router "Base" isis 1 interface "to_PE1" interface-type point-to-point
/configure router "Base" isis 1 interface "to_PE1" level-capability 2
/configure router "Base" isis 1 interface "to_PE1" level 2 metric 10
/configure router "Base" isis 1 interface "to_PE2" admin-state enable
/configure router "Base" isis 1 interface "to_PE2" interface-type point-to-point
/configure router "Base" isis 1 interface "to_PE2" level-capability 2
/configure router "Base" isis 1 interface "to_PE2" level 2 metric 10
/configure router "Base" isis 1 level 2 wide-metrics-only true
/configure router "Base" isis 2 admin-state enable
/configure router "Base" isis 2 advertise-router-capability area
/configure router "Base" isis 2 all-l1isis 01:00:01:49:00:01
/configure router "Base" isis 2 all-l2isis 01:00:01:49:00:01
/configure router "Base" isis 2 iid-tlv true
/configure router "Base" isis 2 level-capability 2
/configure router "Base" isis 2 traffic-engineering true
/configure router "Base" isis 2 area-address [49.0001]
/configure router "Base" isis 2 entropy-label override-tunnel-elc true
/configure router "Base" isis 2 traffic-engineering-options application-link-attributes legacy true
/configure router "Base" isis 2 segment-routing admin-state enable
/configure router "Base" isis 2 segment-routing prefix-sid-range global
/configure router "Base" isis 2 interface "system" admin-state enable
/configure router "Base" isis 2 interface "system" passive true
/configure router "Base" isis 2 interface "system" ipv4-node-sid index 1203
/configure router "Base" isis 2 interface "to_P4" admin-state enable
/configure router "Base" isis 2 interface "to_P4" interface-type point-to-point
/configure router "Base" isis 2 interface "to_P4" level 2 metric 100
/configure router "Base" isis 2 interface "to_PE1" admin-state enable
/configure router "Base" isis 2 interface "to_PE1" interface-type point-to-point
/configure router "Base" isis 2 interface "to_PE1" level 2 metric 1000
/configure router "Base" isis 2 interface "to_PE2" admin-state enable
/configure router "Base" isis 2 interface "to_PE2" interface-type point-to-point
/configure router "Base" isis 2 interface "to_PE2" level 2 metric 1000
/configure router "Base" isis 2 level 2 wide-metrics-only true
/configure router "Base" mpls admin-state enable
/configure router "Base" mpls interface "system" admin-state enable
/configure router "Base" mpls interface "to_P4" admin-state enable
/configure router "Base" mpls interface "to_P4" te-metric 50
/configure router "Base" mpls interface "to_PE1" admin-state enable
/configure router "Base" mpls interface "to_PE1" te-metric 500
/configure router "Base" mpls interface "to_PE2" admin-state enable
/configure router "Base" mpls interface "to_PE2" te-metric 50
/configure router "Base" rsvp interface "system" admin-state enable
/configure router "Base" rsvp interface "to_P4" admin-state enable
/configure router "Base" rsvp interface "to_PE1" admin-state enable
/configure router "Base" rsvp interface "to_PE2" admin-state enable
/configure routing-options ip-fast-reroute true
/configure service customer "1"
/configure service vprn "1003" admin-state enable
/configure service vprn "1003" customer "1"
/configure service vprn "1003" autonomous-system 65000
/configure service vprn "1003" router-id 10.0.0.3
/configure service vprn "1003" bgp-ipvpn mpls admin-state enable
/configure service vprn "1003" bgp-ipvpn mpls route-distinguisher "10.0.0.3:1003"
/configure service vprn "1003" bgp-ipvpn mpls vrf-target community "target:65000:1003"
/configure service vprn "1003" bgp-ipvpn mpls auto-bind-tunnel resolution filter
/configure service vprn "1003" bgp-ipvpn mpls auto-bind-tunnel resolution-filter sr-isis true
/configure service vprn "1003" interface "loopback" loopback true
/configure service vprn "1003" interface "loopback" ipv4 primary address 10.0.0.3
/configure service vprn "1003" interface "loopback" ipv4 primary prefix-length 32
/configure system name "p3"

# Finished 2023-12-17T23:33:26.7+00:00
